/* body {
  text-align: center;
} */
header {

}
nav ul {
  width: 900px;
  margin: 0 auto;
}
nav li {
  text-align: center;
  width: 150px;
}
li {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
}
.container {
  display: inline-flex;
}
/* .container > img {
  width: 50%;
} */
.carousel-container {
  display: flex;
  width: auto;
  justify-content: space-around;

}
.carousel-images {
  width: auto;
}
.carousel-images img {
  border-radius: 8px;
  display: none;
}
.carousel-images img:first-of-type {
  display: block;
}
.info {
  display: inline-flex;
}
dl {
  display: inline-flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
}
dt {
  float: left;
  width: 50%;
}
dd {
  float: left;
  width: 50%;
}
footer {
  padding: 5%;
}
