body {
  text-align: center;
}
header {

}
nav ul {
  width: 900px;
  margin: 0 auto;
}
nav li {
  text-align: center;
  width: 150px;
}
li {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
}
.container {
  display: flex;
  flex-direction: column;
}
.container > img {
  width: 50%;
}
.carousel-container {
  display: flex;
  width: 38%;
  justify-content: space-around;
  overflow: auto;
}
.carousel-images {
  width: 80%;
}
.carousel-images img {
  border-radius: 8px;
  display: none;
}
.carousel-images img:first-of-type {
  display: block;
}
footer {
  padding: 5%;
}
